<header class="bg-sky-500 text-white shadow-sm flex justify-between p-1">
  <div class="flex flex-col items-center space-x-3 pt-1 md:m-1">
    <!-- ロゴをテキストで「Trainspotter.」として表示 -->
    <%= link_to "Trainspotter.", '#', class: "text-xl md:text-3xl text-white" %>
  </div>
  <div>
    <ul class="flex justify-end menu menu-horizontal md:m-2">
      <li class="hidden md:block link link-hover"><%= link_to "地図へ", '#' %></li>
      <li class="hidden md:block link link-hover"><%= link_to "アカウント登録", '#' %></li>
      <li class="hidden md:block link link-hover"><%= link_to "ログイン", '#' %></li>
      <li class="md:hidden">
        <div class="dropdown dropdown-bottom dropdown-end">
          <div tabindex="0" role="button">
            <!-- スマホ画面ではハンバーガーメニュー -->
            <div>
              <span class="material-symbols-outlined">
                menu
              </span>
            </div>
          </div>
          <ul tabindex="0" class="border dropdown-content z-[1] menu mt-2 shadow bg-sky-500 text-white rounded-box w-40">
            <li class="link link-hover"><%= link_to "地図へ", '#' %></li>
            <li class="link link-hover"><%= link_to "アカウント登録", '#' %></li>
            <li class="link link-hover"><%= link_to "ログイン", '#' %></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</header>
