<div class="card w-full m-auto shadow-xl max-w-xs hover:bg-base-200" border border-black">
  <%= link_to post_path(post), data: { turbo: false } do %>
    <div class="flex flex-col">
      <!-- アバターとユーザー名 -->
      <div class="flex items-start p-4">
        <div class="avatar m-4">
          <div class="w-12 rounded-full border border-gray-800"> <!-- 少し角が丸い黒い枠 -->
            <%= image_tag post.user.avatar_url, alt: "アバター" %>
          </div>
        </div>
        <div class="my-auto">
          <%= post.user.name %>
        </div>
      </div>

      <!-- 投稿画像と詳細情報 -->
      <div class="flex flex-col">
        <%= image_tag post.photo_image.thumb.url, alt: "鉄道の画像", class: "w-full object-cover", width: "300", height:"200" %>
        <div class="p-2">
          <!-- 投稿の詳細情報 -->
          <div class="flex flex-col mt-2">
            <span class="text-sm text-gray-600">路線名: <%= post.line.name %></span>
            <span class="text-sm text-gray-600">駅名: <%= post.station.name %></span>
            <span class="text-sm text-gray-600">都道府県: <%= post.prefecture.name %></span>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
