<div class="overflow-hidden rounded-lg bg-white shadow-md ">
  <!-- アバターとユーザー名 -->
  <div class="flex items-start p-4">
    <div class="avatar m-4">
      <div class="w-12 rounded-full border border-gray-800"> <!-- 少し角が丸い黒い枠 -->
        <%= image_tag post.user.avatar_url, alt: "アバター" %>
      </div>
    </div>
    <div class="my-auto">
      <%= post.user.name %>
    </div>
  </div>

  <%= link_to post_path(post) do %>
    <%= image_tag post.photo_image.thumb.url, alt: "鉄道の画像", class: "w-full h-44 object-cover" %>
  <% end %>
  <div class="p-2">
      <h3 class="mb-1 text-lg font-semibold"><%= post.line.name %></h3>
    <div class="mb-1 flex items-center">
      <span class="text-sm text-gray-800 sm:text-base"><%= post.line.name %></span>
    </div>
    <div class="mb-1 flex items-center">
      <span class="mr-2 text-sm text-gray-600 sm:text-base">駅名：</span>
      <span class="text-sm text-gray-800 sm:text-base"><%= post.station.name %></span>
    </div>
    <div class="mb-1 flex items-center">
      <span class="mr-2 text-sm text-gray-600 sm:text-base">都道府県：</span>
      <span class="text-sm text-gray-800 sm:text-base"><%= post.prefecture.name %></span>
    </div>
  </div>
</div>
