<%= form_with model: @post, url: posts_path, multipart: true, local: true do |f| %>
<%= render 'shared/error_messages', object: f.object %> 
  <div class="bg-red-50 py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-3xl px-8 md:px-8">
      <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-8 lg:text-3xl">新規投稿</h2>
      <div class="mx-auto max-w-lg rounded-lg border bg-white">
        <div class="flex flex-wrap m-4">
          <div class="w-full px-4 md:w-full">

            <div class="mb-4">
              <%= f.label :station_id, "駅名※一致する候補から選択。路線名のIDと一致させてください", class: "mb-1 inline-block text-lg text-gray-800", for: 'station_input' %>
              <%= f.text_field :station_id, id: 'station_input', autocomplete: "on", list: "stations", class: "w-full rounded border bg-gray-50 px-3 py-3 text-gray-800 outline-none ring-customorange ring-opacity-40 transition duration-100 focus:ring" %>
              <datalist id="stations">
                <% if @stations %>
                  <% @stations.each do |station| %>
                    <option id="<%= station.id %>" value="<%= "#{station.name} (ID: #{station.line_id})" %>"></option>
                  <% end %>
                <% else %>
                  <option value="">No stations available</option>
                <% end %>
              </datalist>
            </div>

            <div class="mb-4">
              <%= f.label :prefecture_id, "都道府県", class: "mb-1 inline-block text-lg text-gray-800", for: "prefecture_select" %>
              <% if @prefectures.present? %>
                <%= f.collection_select :prefecture_id, @prefectures, :id, :name, { prompt: "都道府県を選択" }, { id: "prefecture_select", class: "w-full rounded border bg-gray-50 px-3 py-3 text-gray-800 outline-none ring-customorange ring-opacity-40 transition duration-100 focus:ring" } %>
              <% else %>
                <p>都道府県を選択してください</p>
              <% end %>
           </div>
      
            <div class="mb-4">
              <%= f.label :line_id, "路線名※一致する候補から選択", class: "mb-1 inline-block text-lg text-gray-800", for: 'line_input' %>
              <%= f.text_field :line_id, id: 'line_input', autocomplete: "on", list: "lines", class: "w-full rounded border bg-gray-50 px-3 py-3 text-gray-800 outline-none ring-customorange ring-opacity-40 transition duration-100 focus:ring" %>
              <datalist id="lines">
                <% if @lines %>
                  <% @lines.each do |line| %>
                    <option id="<%= line.id %>" value="<%= "#{line.name} (ID: #{line.id})" %>"></option>
                  <% end %>
                <% else %>
                 <option value="">No lines available</option>
                <% end %>
              </datalist>
            </div>

            <div class="mb-4">
              <%= f.label :photo_image, "写真", class: "mb-1 inline-block text-lg text-gray-800" %>
              <%= f.file_field :photo_image, class: "w-full rounded border bg-gray-50 px-3 py-3 text-gray-800 outline-none ring-customorange ring-opacity-40 transition duration-100 focus:ring", accept: 'image/*' %>
              <%= f.hidden_field :photo_image_cache %>
            </div>

            <div class="mb-4">
              <%= f.label :location, "撮影場所", class: "mb-1 inline-block text-lg text-gray-800", for: "location" %>
              <%= f.text_field :location, id: "location", class: "w-full rounded border bg-gray-50 px-3 py-3 text-gray-800 outline-none ring-customorange ring-opacity-40 transition duration-100 focus:ring", placeholder: "2番ホーム先頭など", autocomplete: "address" %>
            </div>

            <div class="mb-4">
              <%= f.label :comment, "コメント", class: "mb-2 inline-block text-lg text-gray-800" %>
              <%= f.text_area :comment, rows: 3, class: "w-full rounded border bg-gray-50 px-3 py-3 text-gray-800 outline-none ring-customorange ring-opacity-40 transition duration-100 focus:ring", placeholder: "コメントを入力" %>
            </div>
            <div class="grid">
              <%= f.submit '投稿する', class: 'py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none', data: { turbo: false } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
