<!DOCTYPE html>
<html>
  <head>
    <title>Trainspotter.</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script src="https://kit.fontawesome.com/7f14a3005c.js" crossorigin="anonymous"></script>

    <%= display_meta_tags(default_meta_tags) %>

    <!-- Google Analytics (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-T4B2PPBJ9C"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-T4B2PPBJ9C');
    </script>
    <!-- Google Analytics 終了 -->
    </head>

  <body class="min-h-screen bg-white relative font-main">
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <%= render 'shared/flash_message' %>
    <main class="pb-36 md:pb-48">
      <%= yield %>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>

