<!DOCTYPE html>
<html>
  <head>
    <title>Trainspotter.</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="min-h-screen bg-neutral relative font-main">
    <%= render 'shared/header' %>

    <main class="pb-36 md:pb-48">
      <%= yield %>
    </main>

    <%= render 'shared/footer' %>
  </body>
</html>
